<div class="cash-container" *ngFor="let row of arrCashMachine">
  <a *ngIf="row.status" [routerLink]="'/login/' + row.id" class="cash-link">
    <ng-component *ngIf="!row.status else cardMachine"></ng-component>
  </a>

  <a *ngIf="!row.status" class="cash-link">
    <ng-component *ngIf="row.status else cardMachine"></ng-component>
  </a>

  <ng-template #cardMachine>
    <mat-card class="mat-elevation-z3">
      <mat-card-header class="cash-header">
        <mat-card-title>{{row.name}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-list>

          <mat-list-item>
            <mat-icon class="cash-icon"
              [ngStyle]="row.status ? {color: '#1b5e20'} : { color: 'rgba(209, 15, 15, 0.8)', 'background-color': 'rgba(209, 15, 15, 0.5)' }">
              {{row.status ? 'radio_button_checked' : 'radio_button_unchecked' }}
            </mat-icon>
            <strong>Status do Serviço</strong>: {{row.status ? 'Online' : 'Offline'}}
          </mat-list-item>

          <mat-list-item>
            <mat-icon class="cash-icon" [ngStyle]="row.available > 0 ? {color: '#1b5e20'} : { color: 'rgba(209, 15, 15, 0.8)', 'background-color': 'rgba(209, 15, 15, 0.5)' }">local_atm</mat-icon>
            <strong>Saldo Dísponivel</strong>: {{formatterCash(row.available)}}
          </mat-list-item>

        </mat-list>

      </mat-card-content>
    </mat-card>
  </ng-template>

</div>
