.fr-container {
  background: rgb(221, 220, 220);
  box-shadow: 0px 0px 3px black;
}

.fr-row-one {
  background-color: red;
  height: 10px;
}

.fr-row-two {
  background-color: rgba(0, 0, 0, 0.7);
}

.fr-copyright {
  font-family: 'pokemon-solid';
  font-size: 25px;
  text-shadow: 1px 1px 3px black;
  color: white;
  margin: auto;
}
