<div class="ball-container">

  <h3 class="ball-title">Escolha o seu Inicial!</h3>

  <div class="ball-container-mid">
    <a href="/register/client" class="ball-red"></a>
    <p class="ball-subtitle">Criar Conta</p>
  </div>

  <div class="ball-container-mid" style="margin-top: 100px;">
    <a href="#" class="ball-premier"></a>
    <p class="ball-subtitle">Acessar Conta</p>
  </div>

  <div class="ball-container-mid">
    <a href="#" class="ball-cherish"></a>
    <p class="ball-subtitle">Depósito Bancário</p>
  </div>

</div>
